$gutterStep: 8px;
$gutterStepMinor: 4px;
$cl-brand: #00985f;
$cl-brandHover: #007549;
$cl-textMain: #010810;
$cl-textSecondary: #636c78;
$cl-gray600: #9296a0;
$cl-gray400: #dde0e6;
$cl-gray900: #252629;
$cl-textError: #e0001a;
$cl-gray200: #f0f2f5;
$cl-textWarning: #b24b00;
$cl-white: #fff;
$cl-textActive: #00854d;
$cl-textInfo: #095bad;
$cl-green400: #b3e0cd;
$cl-yellow: #ffb320;
$cl-error: #f50014;
$cl-info: #0b73db;
$cl-warning: #f06400;
$cl-success: #00985f;
$cl-lightGreen: #e5fae1;
$cl-lightWarning: #ffecde;
$cl-lightInfo: #e2eefb;
$cl-lightError: #ffebeb;
$cl-tagNew: #af328a;
$cl-tagSale: #e72d3b;
$cl-tagCashback: #5bad50;
$cl-tagExpress: #2f5cec;
$shadow-small:
    1px 1px 3px rgb(51 51 51 / 3%),
    0 3px 9px rgb(51 51 51 / 8%);
$shadow-big: 4px 10px 35px rgb(51 51 51 / 8%);
$shadow-bigInversion: 0 -10px 35px rgb(51 51 51 / 8%);
$shadow-inner:
    inset 3px 3px 10px rgb(51 51 51 / 10%),
    inset 0 0 3px rgb(51 51 51 / 10%);
$xxxl: 1920;
$xxl: 1600;
$xl: 1440;
$lg: 1280;
$md: 1024;
$sm: 768;
$xs: 568;
$xxs: 360;
$xxxs: 320;
