$cl-custom-lt-gray: #f7f7f7;
$cl-custom-dk-gray: #9e9e9e;
$cl-custom-steel: #8b9198;
$cl-custom-lt-green: #8dc24c;
$cl-custom-mint: #1eb47c;
$cl-custom-black: #242528;
$cl-custom-gray-bg: #f0f3f7;
$cl-custom-gray: #333;
$cl-custom-soft-azure: #e7eff3;
$shadow-custom-small: 0 6px 16px rgb(0 0 0 / 8%);
$shadow-custom-controls: 0 4px 12px 0 #0000001a;
$shadow-custom-navigation:
    0px 3px 9px rgb(51 51 51 / 8%),
    1px 1px 3px rgb(51 51 51 / 3%);
$tabbar-height: 58px;
$animation-time: 300ms;
$animation-fast-time: 200ms;
$modal-z-index: 9999;
$product-header-z-index: 53;
$cl-lineActive: #575757;
$cl-line: #f4f4f4;
$cl-job-section: #f8f8fa;
$cl-jobText: #2d2d2d;
